<div class="container prod-table">
    <div class="headers">
    
        <h2 class="table-title">Manager produits</h2>
        <button class="btn add">Ajouter Produit</button>
    </div>
    <table>
        <thead >
            <tr>
                
                <th>libelle</th>
                <th>Prix</th>
                <th>promo</th>
                <th>categorie</th>
                <th>details</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr *ngFor="let p of prod" class="text-center">
                <td><img [src]="p.image"><br>{{p.libelle}}</td>
                <td>{{p.prix}}</td>
                <td>{{p.promo}}</td>
                <td>{{p.categorie}}</td>
                <td>{{p.details}}</td>
                <td><button class="btn btn-primary">Modifier</button></td>
                <td><button class="btn btn-danger" (click)="onSupprimer(p.categorie,p.id)">supprimer</button></td>
    
            </tr>
        </tbody>
    </table>
    </div>
    
