
<div class="c1">
  <div class="c2">
    <h1>Administration</h1>
  <button class="btn btn-success btn"><a href="admin/ajouterProduit" class="a">Ajouter Produit</a></button>
  <button class="btn btn-danger " (click)="deconnect()">Deconnexion</button>
</div>
<div class="container" >
    <img src="./assets/visage admin.jpg" alt="Avatar" class="image"  >
    <div class="overlay">
      <div class="text" ><a href="admin/visageCrud" class="a">visage</a></div>
    </div>
  </div>
  <div class="container">
    <img src="./assets/corpsadmin.PNG" alt="Avatar" class="image">
    <div class="overlay">
      <div class="text"><a href="admin/corps" class="a">corps</a></div>
    </div>
  </div>
  <div class="container">
    <img src="./assets/cheveuxadmin.png" alt="Avatar" class="image">
    <div class="overlay">
      <div class="text"><a href="admin/cheveux" class="a">cheveux</a></div>
    </div>
  </div>
</div>
