<footer class="mt-5 py-5">
    <div class="row container mx-auto pt-5">
        <div class="footer-one col-lg-3 col-md-6 col-12">
            <img src="/assets/logo.jpg" alt="" width="90">
            <p class="pt-3">Commandez vos produits de beauté et de skin care préférés en toute confiance tout en restant
                chez vous, tels que les crémes de visage, les shampooing, les gommages et les crémes hydratantes
                ,.. à un prix moins cher sur le marché de cosmétique en Tunisie afin de profiter un meilleur
                rapport qualité-prix</p>

        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12">
            <h5>Featured</h5>
            <ul class="text-uppercase list-unstyled">
                <li><a href="#">Visage</a></li>
                <li><a href="#">Corps</a></li>
                <li><a href="#">Cheveux</a></li>
            </ul>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12">
            <h5 class="pb-2">Nos Contact </h5>
            <div>
                <h6 class="text-uppercase">Adresse</h6>
                <p>33 rue entreprenariat Charguia,Carthage</p>
            </div>
            <div>
                <h6 class="text-uppercase">Téléphone</h6>
                <p>(+216)50 903 925</p>
            </div>
            <div>
                <h6 class="text-uppercase">Email</h6>
                <p>Eclatante@gmail.com</p>
            </div>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12">
            <h5>Instagram</h5>
            <div class="row">
                <img class="img-fluid w-25 h-100 m-2" src="/assets/img1.jpg" alt="">
                <img class="img-fluid w-25 h-100 m-2" src="/assets/img2.jpg" alt="">
                <img class="img-fluid w-25 h-100 m-2" src="/assets/img3.jpg" alt="">
                <img class="img-fluid w-25 h-100 m-2" src="/assets/img4.jpg" alt="">
                <img class="img-fluid w-25 h-100 m-2" src="/assets/img5.jpg" alt="">
            </div>
        </div>

    </div>
    <div class="copyright mt-5">
        <div class="row container mx-auto">
            <div class="col-lg-3 col-md-6 col-12">
                <img src="/assets/payment.png" alt="" width="100" id="payment">
            </div>
            <div class="col-lg-3 col-md-6 col-12 text-nowrap">
                <p> eclatante eCommerce 2021. all Rights reserved </p>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>

    </div>
</footer>