img{
    width: 200px;
    transition:0.3s ease-in-out;
    margin: 10px;
    margin-left: 100px;
}
.image:hover{
   
    transition:0.3s ease-in-out;
    transform: scale(1.1,1.1);
}

.card{
    margin: 20px;
    width: 400px;
    padding: 10px;
}
.container{
    background-color: rgb(250, 249, 248);
    display: flex;
    flex-wrap: wrap;
  
}
.discount img{
    width: 10%;
     margin-left: 10px;
 }