<app-menu></app-menu>
<div class="section" >
    <div class="container">
        <div class="title">
            <h1>A propos de nous</h1>
        </div>
        <div class="content">
            <div class="article">
                <h3>UNE MARQUE 100% TUNISIENNE QUI TRANSMET LA PASSION DE SA FONDATRICE

                    FONDEE EN 2019, DORIS COSMETIQUES A PU VOIR LA LUMIERE DU JOUR GRACE A LA PERSEVERANCE ET LA PASSION D’UNE JEUNE ENTREPRENEUSE,
                     DORRA KOSSONTINI, DIPLOMEE D’UN MASTER EN MANAGEMENT DE LA CHAINE LOGISTIQUE DE L’IHEC, QUI A SU NOURRIR SON BEBE DURANT UN PARCOURS NON PRIVE DE DEFIS.
                    
                    ÉTANT UNE GRANDE PASSIONNEE DU MONDE DE LA BEAUTE, ELLE OSA ENFIN METTRE EN MARCHE UN REVE QUI LUI TROTTAIT EN TETE DEPUIS TOUJOURS : LA CREATION DE SA PROPRE MARQUE DE COSMETIQUES.</h3>
                    <p>aujourd’hui, doris se presente sur le marche comme une marque pleinement « made in tunisia » a travers une vaste liste de produits basee sur des valeurs bien ancrees. en effet, tous les emballages 
                        sont recyclables et toute substance qui puisse etre nefaste pour la peau et l’environnement (parabenes, silicones, sulfates, colorants chimiques …) est absolument bannie.</p>

                </div>
        </div>
        <div class="image-section">
            <img src="./assets/aboutus.jpg" width="100%">
        </div>
        <div class="social">
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</div>
<app-footer></app-footer>
